In [1]:
import numpy as np
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [7]:
columns_names = ["user_id", "item_id", "rating", "timestamp"]
df = pd.read_csv("u.data", sep="\t", names = columns_names)

In [8]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [9]:
df.shape

(100000, 4)

In [10]:
df['user_id'].nunique()

943

In [11]:
df['item_id'].nunique()

1682

In [13]:
movies_title = pd.read_csv("u.item", sep="\|", header = None)